.title{
  text-transform: uppercase;
  font-size:14px;
  letter-spacing: 2px;
  font-family: 'Figtree';
  height:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:var(--theme-input-text);
  gap:7px;
  .subtitle{
    font-size:11px;
    letter-spacing: 1.2px;
  }
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;align-items: center;
  margin-bottom:10px;
  .title{
    flex:2;
  }
  .actions{
    display: flex;
    flex-direction: row;
  }
  .item{
    cursor:pointer;
    width:40px;height:40px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    color:var(--theme-header-text);
    transition: var(--transition-smooth);
    border-radius: 50%;
    &:hover:not(.disabled){
      background:var(--theme-header-background);
      color:var(--theme-primary);
    }
  }
  .disabled{
    cursor:default;
    color:var(--theme-ccc)
  }
}
