<app-card [actions]="actions$()" (actionClicked)="actioncCliked($event)" [title]="'security-feature.parameter-page.title'"
          [params]="securityService.account$()">
  <!-- start table of user data content -->
  <div class="table" *ngIf="securityService.account$() as account">
    <div class="row">
      <div class="cell cell-label">{{'security-feature.parameter-page.label.id' | labelWithParam}}</div>
      <div class="cell cell-value">{{account.id}}</div>
    </div>
    <div class="row">
      <div class="cell cell-label">{{'security-feature.parameter-page.label.username' | labelWithParam}}</div>
      <div class="cell cell-value">{{account.username}}</div>
    </div>
    <div class="row">
      <div class="cell cell-label">{{'security-feature.parameter-page.label.mail' | labelWithParam}}</div>
      <div class="cell cell-value">{{account.mail}}</div>
    </div>
    <div class="row">
      <div class="cell cell-label">{{'security-feature.parameter-page.label.firstname' | labelWithParam}}</div>
      <div
        class="cell cell-value">{{(account.firstname ?account.firstname: 'security-feature.parameter-page.label.firstname-empty') | labelWithParam}}</div>
    </div>
    <div class="row">
      <div class="cell cell-label">{{'security-feature.parameter-page.label.lastname' | labelWithParam}}</div>
      <div
        class="cell cell-value">{{(account.lastname ? account.lastname :'security-feature.parameter-page.label.firstname-empty') | labelWithParam}}</div>
    </div>
  </div>

</app-card>
