<header>
  <div class="logo"><i class="fa-light fa-cube"></i> <span class="title">Stock</span></div>
  <div class="filler"></div>

  <nav class="minimal-nav">
    <ul>
      <li>
        <a routerLink="{{routes.AUTHENTICATED }}"><i class="fa-light fa-house"></i></a>
      </li>
      <li>
        <a routerLink="{{routes.AUTHENTICATED }}"><i class="fa-light fa-gear"></i></a>
      </li>
    </ul>
  </nav>
  <div class="usr"><a routerLink="{{routes.ACCOUNT_PARAMETER }}"><i class="fa-light fa-user"></i></a></div>
</header>
<section id="wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>
<footer>
  <p>Copyright © 2023 Institut Notre-Dame de Malmedy Tous droits réservés.</p>
</footer>
