:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(---theme-white);
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px;
  background: var(--theme-white);

  .band {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: var(--var-header-height);
    background: var(--theme-header-background);
    color: var(--theme-header-text);
  }

  /* nav */
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  nav ul {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    color: var(--theme-header-text);

    li {
      flex: 1;
    }
  }

  nav a,
  .usr a {
    height: var(--var-header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--theme-header-text);
    transition: all ease .4s;
    position: relative;
    overflow: hidden;

    &:hover,
    &.active {
      background: var(--theme-secondary);
      color: var(--theme-primary);

      .circle {
        background: var(--theme-primary);
        color: var(--theme-secondary);
        border: 1px solid var(--theme-primary);
      }
    }
  }

  .usr {
    width: var(--var-header-height);
    height: var(--var-header-height);

    .circle {
      border: 1px solid var(--theme-header-text);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-size: 12px;
      }
    }
  }
}

#wrapper {
  flex: 3;
  padding-top: 150px;

  .content {
    padding: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem;
  height: 80px;
  color: var(--theme-label-text);
  font-size: 10px;
  background: var(--theme-header-background);
  letter-spacing: 1.25px;
}

#mobile {
  display: none;
}

@media (max-width: 400px) {
  #desktop,
  footer {
    display: none;
  }
  #wrapper {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 80px;
  }
  #mobile {
    display: flex;
    flex-direction: column;

    .menu-icon {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }

    #mobile-nav {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      transition: all ease-in-out .3s;
      background: var(--theme-header-background);
      display: flex;
      flex-direction: row;
      ul {
        flex: 1;
        display: flex;
        flex-direction: row;
        li {
          flex: 1;
          a {
            display: flex;
            color: var(--theme-header-text);
            flex: 1;
            height: 60px;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
