button{
  cursor: pointer;
  transition: var(--transition-smooth);
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 11px;
  background: var(--theme-primary);
  border: 1px solid var(--theme-primary);
  color: var(--theme-standard-footer-bg);

  &:hover {
    background: var(--theme-black);
    border: 1px solid var(--theme-black);
    color: var(--theme-standard-footer-bg);
  }
}
