:host {
  width: 100%;
}

.card {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  .card-content{
    border: 1px solid var(--theme-eee);
    background:var(--theme-header-background);
    padding: 1rem;
  }
}
