ul {
  display: flex;
  flex-direction: row;
  .li{
    transition: all ease .3s;
    flex: 1;
    height: var(--var-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: var(--theme-standard-bg-hover);
      color: var(--theme-secondary);
    }
  }
  .is-active{
    background: var(--theme-standard-bg-hover);
    color: var(--theme-secondary);
  }
}
