
.first-step {
  margin-bottom: 10px;
}

.table {
  position:relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.5px solid var(--theme-eee);

  .row {
    display: flex;
    flex-direction: row;

    .cell {
      flex: 1 0 auto;
      height: auto;
      border: 0.5px solid var(--theme-eee);
      cursor:pointer;
      &:hover{
        background: var(--theme-eee);
      }
    }

    .cell::before {
      content: '';
      float: left;
      padding-top: 100%;
    }
  }
}
.rack-1{
  position: absolute;
  top:0;
  left:0;
  width:290px;
  height:116px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:var(--theme-standard-bg);
  border: 0.5px solid var(--theme-eee);
}
