
.first-step {
  margin-bottom: 30px;
}

.table {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index:15;
  background:var(--theme-white);
  border: 1px solid var(--theme-eee);

  .row {
    display: flex;
    flex-direction: row;

    .cell {
      flex: 1 0 auto;
      height: auto;
      border: 0.5px solid var(--theme-white);

    }

    .cell::before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    .selected {
      background: var(--theme-eee);
    }

    .wall {
      border: 0.5px solid red;
    }

    .wall-cell {
      border: 0.5px solid red;
    }
  }
}

.first-step {
  display: flex;
  flex-direction: row;

  gap: 20px;

  .form, .explanation {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .explanation {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .actions {
      display: flex;
      flex-direction: row;
      gap: 10px;

      button {
        flex: 1;
      }
    }

    .data {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        text-transform: uppercase;
      }

      .error {
        color: var(--theme-error-dark)
      }
    }
  }
}


.form {
  border-top: 1px solid var(--theme-eee);

  button {
    margin-top: 15px;
  }
}
.rack {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--theme-eee);
}

.input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
  border: 1px solid var(--theme-eee);
  border-top: none;

  label {
    flex: 1;
    padding: 10px;
    border-right: 1px solid var(--theme-eee);
    text-transform: uppercase;
    font-size: 14px;
  }

  input {
    flex: 1;
  }
}

.disabled {
  background: var(--theme-white);
  border: 1px solid var(--theme-aaa);
  color: var(--theme-aaa);
  cursor: default;
}

.plan {
  position: relative;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid var(--theme-eee);

  .left-wall {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    display: flex;
    flex-direction: column;
  }

  .right-wall {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    display: flex;
    flex-direction: column;
  }

  .top-wall {
    position: absolute;
    top: 0;
    right: 30px;
    left: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
  }

  .bottom-wall {
    position: absolute;
    bottom: 0;
    right: 30px;
    left: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
  }

  .cell-wall-square {
    width: 30px;
    height: 30px;
    background: var(--theme-standard-bg-hover);
  }

  .cell-wall {
    background: var(--theme-standard-bg-hover);
    flex: 1;
  }

  .wall-selected {
    background:var(--theme-white);
  }

  .wall-edition-mode {
    .cell-wall-square, .cell-wall {
      border: 0.5px solid var(--theme-eee);
      background: var(--theme-white);
      cursor: pointer;
      &:hover {
        background: var(--theme-standard-bg-hover);

      }
    }
    .wall-selected {
      background:var(--theme-standard-bg-hover);
    }
  }
  .door{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:var(--theme-white);
    z-index:50;
    border:1px solid var(--theme-eee);
  }
  .door-vertical{
    border-left:none;
    border-right:none;
  }
  .door-horizontal{
    border-top:none;
    border-bottom:none;
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  button {
    width: 240px;
  }

  margin-top: 10px;
}

.edition-mode {
  border: 0.5px solid var(--theme-eee);

  .row {
    .cell {
      border: 0.5px solid var(--theme-eee);
      cursor: pointer;

      &:hover {
        background: var(--theme-eee);
      }
    }
  }
}

.band {
  background: var(--theme-standard-bg);
  margin: 20px -18px;
  border-top: 1px solid var(--theme-eee);
  border-bottom: 1px solid var(--theme-eee);
  height: 20px;
}

.help {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 10px;


  i {
    color: var(--theme-secondary);
    font-size: 18px;
    margin-right: 10px;
  }

  span {
    flex: 2;
  }
}

input {
  border: none;
}

@media (max-width: 600px) {
  .first-step {
    display: flex;
    flex-direction: column;
  }
}
