.table {
  width: 100%;
  display: flex;
  flex-direction: column;


  .row:nth-child(odd) {
    background: var(--theme-standard-bg-hover);
  }

  .row {
    display: flex;
    flex-direction: row;

    .cell {
      flex: 1;
      display: flex;
      flex-direction: column;

      .clickable {
        flex: 1;
        display: flex;
        align-items: center;
      }
    }

    .is-minimal {
      flex: 0;
      min-width:120px;
    }

    &:hover:not(.header) {
      background: var(--theme-secondary);
    }
  }
}

.action {
  display: flex;
  flex-direction: row;

  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--theme-primary);

    &:hover {
      background: var(--theme-primary);
      color: var(--theme-white);
    }
  }
}

// small screen
@media all and (max-width: 600px) {
  .row{
    .medium, .large, .x-large {
      display: block;
      visibility: hidden;
    }
  }

}

// medium screen
@media all and (min-width: 600px) and (max-width: 800px) {

  .large, .x-large {
    display: none;
  }
}

// large screen
@media all and (min-width: 800px) and (max-width: 1200px) {
  .x-large {
    display: none;
  }
}
