<div class="flexos">
  @if (!detail$()) {
    <app-detail-not-found [message]="'feature.shelve-detail.not-found'"></app-detail-not-found>
  } @else {
    <app-card title="{{'feature.shelve-detail.title-data' | translate: detail$() }}">
    <app-data-table [config]="productDataTableConfig()" (actionClicked)="consume($event)"></app-data-table>

    </app-card>
    @if (isAddingConsumption$()) {
      <app-card [title]="'feature.consumption-form'"  [actions]="consumptionActions$()" (actionClicked)="actionCardClicked($event)">
        @if (errors$().length > 0) {
          <div class="error-card-pan">
            @for (error of errors$(); let index = $index; track index) {
              <span> {{ 'admin-feature.product-form.' + error.control + '.' + error.error | translate }}</span>
            }
          </div>
        }
      <app-form-builder [config]="consumptionFormConfig$()"
                        (cancel)="cancel()"
                        (formGroupSet)="setFormGroup($event)"
                        (formSubmitted)="onFormSubmitted($event)"></app-form-builder>
      </app-card>
    } @else {
      <app-card [title]="'feature.consumption-list'">
      <app-data-table [config]="consumptionDataTableConfig$()" (actionClicked)="onActionClicked($event)"></app-data-table>
      </app-card>

    }
  }
</div>
