<div class="flexos">
  <app-card [title]="'feature.product-detail.title'">
    <app-data-card
      [config]="config$()"></app-data-card>
    <app-data-table [config]="productDataTableConfig()" (actionClicked)="consume($event)"></app-data-table>
  </app-card>

  @if (isAddingConsumption$()) {
    <app-card [title]="'feature.consumption-form'">
      <app-form-builder [config]="consumptionFormConfig$()"
                        (cancel)="cancel()"
                        (formSubmitted)="onFormSubmitted($event)"></app-form-builder>
    </app-card>
  } @else {
    <app-card [title]="'feature.product-detail.consumption-list'">
      <app-data-table [config]="consumptionDataTableConfig$()" (actionClicked)="onActionClicked($event)"></app-data-table>
    </app-card>
  }

</div>
