<div class="form" [formGroup]="form">
  @for (config of config.fieldTypes; track config.field) {
    <div class="form-group">
      <div class="label">
        <label [for]="config.field">{{ config.field }}</label>
      </div>
      <div class="input">
        <ng-container [ngSwitch]="config.type">
          <ng-container *ngSwitchCase="'select'">
            <select [formControlName]="config.field" [id]="config.field">
              <option *ngFor="let option of config.options" [value]="option.value"
                      [selected]="option.selected">{{ option.label | translate }}
              </option>
            </select>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <input [formControlName]="config.field" [id]="config.field" [type]="config.type"/>
          </ng-container>
        </ng-container>
        <div *ngIf="form.get(config.field)?.invalid && form.get(config.field)?.touched" class="error">
          {{ 'form.label.' + config.field }}
        </div>
      </div>
    </div>
  }
  <div class="actions">
    <button (click)="onSubmit()" [class.disabled]="form.invalid"
            [disabled]="form.invalid">{{ config.submitTitle | translate }}
    </button>
    <button class="btn-error" (click)="onCancel()">{{ 'common.confirm.cancel'| translate }}</button>
  </div>
</div>
