
<div id="qrcodes" #qrcodes>
  <div class="actions"><button (click)="getPdf()">imprimer</button></div>
  @for (page of pages(); let index = $index; track index) {
    <div class="page" [id]="page.id">
      @for (product of page.products; let paIndex = $index; track paIndex) {
        <div class="item">
          <qrcode [qrdata]="'http://localhost:4200/dashboard/product/detail/'+product" [width]="100"
                  [errorCorrectionLevel]="'M'"></qrcode>
          <div class="data">
            <div class="line">
              <div class="label">Type</div>
              <div class="content">{{ 'feature.product.type.' + product.type.toLowerCase() | translate }}</div>
            </div>
            <div class="line">
              <div class="label">Dimension</div>
              <div class="content">{{ product.str }}</div>
            </div>
            <div class="line">
              <div class="label">Matériel</div>
              <div class="content">{{ product.materials }}</div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
